{% extends 'base.html' %}
{% block content %}

    <h2>{{ movie.title }}</h2>


    <p>Add or update a review for this</p>
    <form action="/movielist/p/{{movie.movie_id}}" method="POST">

      <input type='radio' name='rating' value='1'>1
      <input type='radio' name='rating' value='2'>2
      <input type='radio' name='rating' value='3'>3
      <input type='radio' name='rating' value='4'>4
      <input type='radio' name='rating' value='5'>5
      <input type="submit">
    </form>


    <p>Average rating: {{ average }}</p>
    {% if prediction %}
        <p>We predict you will rate this movie {{ prediction }}.</p>
    {% endif %}

    {% if user_rating %}
      <ul>
        <li>
          Your rating: {{ user_rating.score }}
        </li>
      </ul>
    {% endif %}

    {% if beratement %}
      <h2>{{ beratement }}</h2>
    {% endif %}

{% endblock %}
